@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Departure Mono';
    src: url('https://github.com/rektdeckard/departure-mono/raw/refs/tags/v1.420/public/assets/DepartureMono-Regular.woff2') format(woff2);
    font-weight: normal;
    font-style: normal;
}

html {
    background-color: antiquewhite;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p, a {
    font-family: Arial, Helvetica, sans-serif;
}

#pagetitle {
    font-family: 'Departure Mono', sans-serif;
    size: 32px;
}